<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>管理員列表</title>

    <!--bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--jQuery UI核心-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!--動態參考Vue3.0-->
    <script th:src="@{/vue/vue.global.js}"></script>
    <!--動態參考Sweetalert2-->
    <script th:src="@{/sweetalert/sweetalert2.min.js}"></script>
    <!--SweetAlert2載入-->
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">

    <style>
        .table-container {
            width: 80%;        /* 區塊寬度佔畫面80% */
            max-width: 1000px; /* 限制最大寬度 */
            overflow-y: auto;  /* 超出高度時出現垂直卷軸 */
        }

        .rightbox {
        text-align: right; /* 設置文字靠右對齊 */
        }
    </style>

</head>

<body>

    <fieldset id="app">
        <!-- Bootstrap Dropdown 功能選單 -->
        <div class="dropdown rightbox">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                管理員功能
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createAdminModal" @click="resetAdminForm">管理員新增</a></li>
                <li><a class="dropdown-item" href="/admin/page/adminshowall">管理員列表</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createInsurerModal" @click="resetInsurerForm">保險員新增</a></li>
                <li><a class="dropdown-item" href="/admin/page/insurershowall">保險員列表</a></li>
                <li><a class="dropdown-item" href="/insurancesystem/admin/logout">登出</a></li>
            </ul>
        </div>

        <!-- Bootstrap Modal (管理員新增) -->
        <div class="modal fade" id="createAdminModal" tabindex="-1" aria-labelledby="createAdminModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createAdminModalLabel">管理員新增</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="createAdminName" class="form-label">中文姓名*</label>
                                <input type="text" class="form-control" id="createAdminName" v-model="newAdmin.name">
                            </div>
                            <div class="mb-3">
                                <label for="createAdminAccountId" class="form-label">帳號*</label>
                                <input type="text" class="form-control" id="createAdminAccountId" v-model="newAdmin.accountId">
                            </div>
                            <div class="mb-3">
                                <label for="createAdminPassword" class="form-label">密碼*</label>
                                <input type="password" class="form-control" id="createAdminPassword" v-model="newAdmin.password">
                            </div>
                            <div class="mb-3">
                                <label for="createAdminEmail" class="form-label">信箱*</label>
                                <input type="text" class="form-control" id="createAdminEmail" v-model="newAdmin.email">
                            </div>
                        </form>
                        <div id="resultMsgAdmin"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" v-on:click="createAdminHandler(e)">新增</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal (保險員新增) -->
        <div class="modal fade" id="createInsurerModal" tabindex="-1" aria-labelledby="createInsurerModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createInsurerModalLabel">保險員新增</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="createInsurerName" class="form-label">中文姓名*</label>
                                <input type="text" class="form-control" id="createInsurerName" v-model="newInsurer.name">
                            </div>
                            <div class="mb-3">
                                <label for="createInsurerAccountId" class="form-label">帳號*</label>
                                <input type="text" class="form-control" id="createInsurerAccountId" v-model="newInsurer.accountId">
                            </div>
                            <div class="mb-3">
                                <label for="createInsurerPassword" class="form-label">密碼*</label>
                                <input type="password" class="form-control" id="createInsurerPassword" v-model="newInsurer.password">
                            </div>
                            <div class="mb-3">
                                <label for="createInsurerPhone" class="form-label">手機*</label>
                                <input type="text" class="form-control" id="createInsurerPhone" v-model="newInsurer.phone">
                            </div>
                            <div class="mb-3">
                                <label for="createInsurerEmail" class="form-label">信箱*</label>
                                <input type="text" class="form-control" id="createInsurerEmail" v-model="newInsurer.email">
                            </div>
                        </form>
                        <div id="resultMsgInsurer"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="createInsurerHandler(e)">新增</button>
                    </div>
                </div>
            </div>
        </div>

        <!--管理員列表-->
        <div class="container mt-5">
            <div class="card shadow mx-auto table-container">
                <div class="card-header bg-secondary text-white d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">管理員列表</h5>
                    <div>
                        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#editModal" v-bind:disabled="!selectedAdmin" @click="editHandler">編輯</button>
                        <button type="button" class="btn btn-danger" v-bind:disabled="!selectedAdmin" @click="deleteHandler">刪除</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="table-responsive">
                        <table class="table table-striped table-hover mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th></th>
                                    <th class="fs-5 fw-bold">中文姓名</th>
                                    <th class="fs-5 fw-bold">帳號</th>
                                    <th class="fs-5 fw-bold">密碼</th>
                                    <th class="fs-5 fw-bold">信箱</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr v-for="item in adminsData">
                                    <td>
                                        <input type="checkbox" v-bind:checked="selectedAdmin && selectedAdmin.accountId === item.accountId" v-on:change="selectAdmin(item)">
                                    </td>
                                    <td>{{item.name}}</td>
                                    <td>{{item.accountId}}</td>
                                    <td>{{item.password}}</td>
                                    <td>{{item.email}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <!--管理員編輯Modal-->
        <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editAdminModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editAdminModalLabel">修改管理員資料</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body" v-if="selectedAdmin">
                        <form>
                            <div class="mb-3">
                                <label for="adminName" class="form-label">中文姓名*</label>
                                <input type="text" class="form-control" id="adminName" v-model="updateAdmin.name">
                            </div>
                            <div class="mb-3">
                                <label for="adminId" class="form-label">帳號*</label>
                                <input type="text" class="form-control" id="adminId" v-model="updateAdmin.accountId" readonly>
                            </div>
                            <div class="mb-3">
                                <label for="adminPassword" class="form-label">密碼*</label>
                                <input type="password" class="form-control" id="adminPassword" v-model="updateAdmin.password" placeholder="若不修改請留空">
                            </div>
                            <div class="mb-3">
                                <label for="adminEmail" class="form-label">信箱*</label>
                                <input type="text" class="form-control" id="adminEmail" v-model="updateAdmin.email">
                            </div>
                        </form>
                        <div id="resultMsg"></div>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" id="saveButton">儲存</button>
                    </div>
                </div>
            </div>
        </div>

    </fieldset>

    <script>
        const dataModel = {
            adminsData:[],
            newAdmin:{
                name:'',
                accountId:'',
                password:'',
                email:''
            },
            selectedAdmin:null,//代表目前沒有被選中的管理員
            updateAdmin:{},
            deleteAdmin:{},
            newInsurer:{
                name:'',
                accountId:'',
                password:'',
                phone:'',
                email:''
            }
        }
        const functions = {
            //從後端撈Admin資料
            fetchAdmins(){
                $.getJSON('/api/v1/admin/findAll',(data) => {
                    this.adminsData = data.data;
                });
            },

            //新增管理員
            createAdminHandler(e){
                if(!this.newAdmin.name.trim() || !this.newAdmin.accountId.trim() || !this.newAdmin.password.trim() || !this.newAdmin.email.trim()){
                    $('#resultMsgAdmin').text("所有欄位皆為必填，請勿留空！");
                    return;
                }

                let urlString='/api/v1/admin/register';
                let jsonDate=JSON.stringify(this.newAdmin);

                $.ajax({
                    url:urlString,
                    type:'POST',
                    dataType:'json',
                    data:jsonDate,
                    contentType:'application/json',
                    beforeSend:function(xhr){
                        xhr.setRequestHeader("Content-Type","application/json");
                    },
                    success:(data,status,xhr) => {
                        console.log(data);
                        let successMsg=data.message;
                        $('#resultMsgAdmin').text(successMsg);
                        this.fetchAdmins();
                    },
                    error:(xhr,status,error) => {
                        let errorMsg=xhr.responseJSON;
                        console.log(errorMsg);
                        $('#resultMsgAdmin').text(errorMsg.message);
                    }
                })
            },

            //新增管理員-開啟model先清上一次殘留資料
            resetAdminForm(e) {
                this.newAdmin = {
                    name:'',
                    accountId:'',
                    password:'',
                    email:''
                };
                $('#resultMsgAdmin').text('');
            },

            //取消勾選功能
            selectAdmin(item){
                if(this.selectedAdmin && this.selectedAdmin.accountId === item.accountId){
                    this.selectedAdmin = null;// 如果點到同一個，取消選取
                }
                else{
                    this.selectedAdmin = item;// 選取新的
                }
            },
            //編輯儲存功能
            editHandler(e){
                
                console.log("要編輯的帳號：", this.selectedAdmin.accountId);
                console.log("要編輯的資料：", this.selectedAdmin);

                $('#resultMsg').text('');
                this.updateAdmin = JSON.parse(JSON.stringify(this.selectedAdmin));//進行副本編輯
                //清空密碼欄位，確保送出時如果沒填就是空的
                this.updateAdmin.password = '';
                $('#saveButton').off('click').on('click', () => {
                    if(this.updateAdmin.name.trim() === this.selectedAdmin.name.trim() && 
                    this.updateAdmin.accountId.trim() === this.selectedAdmin.accountId.trim() && 
                    this.updateAdmin.password.trim() === '' && 
                    this.updateAdmin.email.trim() === this.selectedAdmin.email.trim()){
                        $('#resultMsg').text('資料無異動');
                        return;
                    }
                    else if(!this.updateAdmin.name.trim() || !this.updateAdmin.accountId.trim() || !this.updateAdmin.email.trim()){
                        $('#resultMsg').text('*號為必填欄位，請勿留空！');
                        return;
                    }

                    let urlString = '/api/v1/admin/update';
                    let jsonData = JSON.stringify(this.updateAdmin);
                    $.ajax({
                        url:urlString,
                        type:'PUT',
                        data:jsonData,
                        dataType:'json',
                        contentType:'application/json',
                        success:(data,status,xhr) => {
                            console.log(data);
                            let successMsg = data.message;
                            $('#resultMsg').text(successMsg);
                            //同步更新selectedAdmin
                            this.selectedAdmin = JSON.parse(JSON.stringify(this.updateAdmin));
                            this.fetchAdmins();
                        },
                        error:(xhr,status,error) => {
                            let errorMsg = xhr.responseJSON;
                            console.log(errorMsg);
                            $('#resultMsg').text(errorMsg);
                        }
                    })
                });
                
            },
            //刪除功能
            deleteHandler(e){

                console.log("要刪除的帳號：", this.selectedAdmin.accountId);
                console.log("要刪除的資料：", this.selectedAdmin);

                this.deleteAdmin = this.selectedAdmin;

                Swal.fire({
                    title: "確定刪除嗎？",
                    text: "刪除管理員帳號：" + this.deleteAdmin.accountId,
                    icon: "warning",
                    confirmButtonText: "刪除",
                    confirmButtonColor: "#3085d6",
                    showCancelButton: true,
                    cancelButtonText: "取消",
                    cancelButtonColor: "#d33",
                    
                }).then((result) => {
                    if (result.isConfirmed) {
                        console.log("刪除作業");
                        let urlString = '/api/v1/admin/delete/' + this.deleteAdmin.accountId;
                        $.ajax({
                            url:urlString,
                            type:'DELETE',
                            success:(data,status,xhr) => {
                                console.log(data);
                                Swal.fire({
                                    position: "top-end",
                                    width: "25em",
                                    heightAuto: true,
                                    icon: "success",
                                    title: "管理員刪除成功",
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                                this.fetchAdmins();
                                this.selectedAdmin = null;
                            },
                            error:(xhr,status,error) => {
                                let errorMsg = xhr.responseJSON;
                                Swal.fire({
                                    position: "top-end",
                                    width: "25em",
                                    heightAuto: true,
                                    icon: "error",
                                    title: "管理員刪除失敗",
                                    text: errorMsg.message,
                                    showConfirmButton: false,
                                    timer: 1500
                                });
                            }
                        })
                    }
                });

            },

            //新增保險員
            createInsurerHandler(e){
                if(!this.newInsurer.name.trim() || !this.newInsurer.accountId.trim() || !this.newInsurer.password.trim() || !this.newInsurer.phone.trim() || !this.newInsurer.email.trim()){
                    $('#resultMsgInsurer').text("所有欄位皆為必填，請勿留空！");
                    return;
                }

                let urlString = '/api/v1/insurer/register';
                let jsonDate = JSON.stringify(this.newInsurer);

                $.ajax({
                    url:urlString,
                    type:'POST',                
                    data:jsonDate,
                    dataType:'json',
                    contentType:'application/json',
                    beforeSend:function(xhr){
                        xhr.setRequestHeader("Content-Type","application/json");
                    },
                    success:(data,status,xhr) => {
                        console.log(data);
                        let successMsg = data.message;
                        $('#resultMsgInsurer').text(successMsg);
                    },
                    error:(xhr,status,error) => {
                        let errorMsg = xhr.responseJSON;
                        console.log(errorMsg);
                        $('#resultMsgInsurer').text(errorMsg.message);
                    }
                });

            },
            //新增保險員-開啟model先清上一次殘留資料
            resetInsurerForm(e) {
                this.newInsurer = {
                    name:'',
                    accountId:'',
                    password:'',
                    phone:'',
                    email:''
                };
                $('#resultMsgInsurer').text('');
            },
        }

        const app = Vue.createApp({
            data(){
                return dataModel;
            },
            methods:functions,
            mounted(){
                this.fetchAdmins();//頁面第一次載入時，向後端撈資料
            },

        }).mount('#app');

    </script>


</body>
</html>