<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>保單新增</title>

    <!--bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous"><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
    <!--jQuery UI核心-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <!--動態參考Vue3.0-->
    <script th:src="@{/vue/vue.global.js}"></script>
    <!--動態參考Sweetalert2-->
    <script th:src="@{/sweetalert/sweetalert2.min.js}"></script>
    <!--SweetAlert2載入-->
    <link rel="stylesheet" th:href="@{/css/sweetalert2.min.css}">

    <style>

        .rightbox {
        text-align: right; /* 設置文字靠右對齊 */
        }
    </style>

</head>
<body>
    <div id="app">

        <!-- Bootstrap Dropdown 功能選單 -->
        <div class="dropdown rightbox">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                保險員功能
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="/policy/page/create">保單新增</a></li>
                <li><a class="dropdown-item" href="/policy/page/showall">保單總覽</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createCompanyModal" @click="resetCompanyForm">保險公司新增</a></li>
                <li><a class="dropdown-item" href="/insuranceCompany/page/showall">保險公司清單</a></li>
                <li><a class="dropdown-item" data-bs-toggle="modal" data-bs-target="#createTypeModal"  @click="resetTypeForm">保單類型新增</a></li>
                <li><a class="dropdown-item" href="/insuranceType/page/showall">保單類型清單</a></li>
                <li><a class="dropdown-item" href="/policyPerson/page/showall">保險關係人總覽</a></li>
                <li><a class="dropdown-item" href="/insurancesystem/insurer/logout">登出</a></li>
            </ul>
        </div>

        <!-- Bootstrap Modal (保險公司新增) -->
        <div class="modal fade" id="createCompanyModal" tabindex="-1" aria-labelledby="createCompanyModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createCompanyModalLabel">保險公司新增</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="createCompanyName" class="form-label">公司名稱*</label>
                                <input type="text" class="form-control" id="createCompanyName" v-model="newCompany.companyName">
                            </div>
                            <div class="mb-3">
                                <label for="createCompanyAddress" class="form-label">地址</label>
                                <input type="text" class="form-control" id="createCompanyAddress" v-model="newCompany.address">
                            </div>
                            <div class="mb-3">
                                <label for="createCompanyTelephone" class="form-label">電話</label>
                                <input type="text" class="form-control" id="createCompanyTelephone" v-model="newCompany.telephone">
                            </div>
                        </form>
                        <div id="resultMsgCompany"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="createCompanyHandler">新增</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bootstrap Modal (保單類型新增) -->
        <div class="modal fade" id="createTypeModal" tabindex="-1" aria-labelledby="createTypeModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createTypeModalLabel">保單類型新增</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="createTypeName" class="form-label">保單類型*</label>
                                <input type="text" class="form-control" id="createTypeName" v-model="newType.typeName">
                            </div>
                            <div class="mb-3">
                                <label for="createTypeDescription" class="form-label">描述</label>
                                <input type="text" class="form-control" id="createTypeDescription" v-model="newType.description">
                            </div>
                        </form>
                        <div id="resultMsgType"></div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                        <button type="button" class="btn btn-primary" @click="createTypeHandler">新增</button>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div id="policyApp">
        <div class="container mt-5">
            <div class="card shadow mx-auto table-container">
                <!--保單部分-->
                <div class="card-header bg-secondary text-white d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">保單</h5>
                </div>
                <div class="card-body p-0">
                    <div>
                        <form class="row g-3 p-4">
                            <div class="col-md-4">
                                <label for="type" class="form-label">保單類型*</label>
                                <select class="form-select" id="type" v-model="policy.type">
                                    <option selected disabled value="">請選擇...</option>
                                    <option v-for="type in types" :key="type.typeId" :value="type">
                                        {{type.typeName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="company" class="form-label">保險公司*</label>
                                <select class="form-select" id="company" v-model="policy.company">
                                    <option selected disabled value="">請選擇...</option>
                                    <option v-for="company in companies" :key="company.companyId" :value="company">
                                        {{company.companyName}}
                                    </option>
                                </select>
                            </div>
                            <div class="col-md-4">
                                <label for="insurer" class="form-label">保險員*</label>
                                <input type="text" class="form-control" :value="policy.insurer.name" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="acceptDate" class="form-label">受理日*</label>
                                <input type="date" class="form-control" id="acceptDate" v-model="policy.acceptDate">
                            </div>
                            <div class="col-md-4">
                                <label for="beginDate" class="form-label">起始日*</label>
                                <input type="date" class="form-control" id="beginDate" v-model="policy.beginDate">
                            </div>
                            <div class="col-md-4">
                                <label for="endDate" class="form-label">到期日*</label>
                                <input type="date" class="form-control" id="endDate" v-model="policy.endDate">
                            </div>
                            <div class="col-md-4">
                                <label for="insuredAmount" class="form-label">保費*</label>
                                <input type="number" class="form-control" id="insuredAmount" v-model="policy.insuredAmount">
                            </div>
                            <div class="col-md-4">
                                <label for="paymentType" class="form-label">繳費方式*</label>
                                <select class="form-select" id="paymentType" v-model="policy.paymentType">
                                    <option selected disabled>Choose...</option>
                                    <option value="once">單次</option>
                                    <option value="monthly">月繳</option>
                                    <option value="quarterly">季繳</option>
                                    <option value="semiAnnually">半年繳</option>
                                    <option value="annually">年繳</option>
                                </select>
                            </div>
                            <div class="col-md-4 rightbox">
                                <button class="btn btn-primary" type="button" id="policyCreate" @click="createPolicyHandler" v-show="isShow">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!--投保人部分(policyholder)-->
                <div class="card-header bg-secondary text-white d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">投保人</h5>
                    <div>
                        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#selectPersonModal" @click="checkRoleTwo('policyHolder')">選擇人員</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#policyHolderModal">新增人員</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div>        
                        <form class="row g-3 p-4">
                            <div class="col-md-4" v-show="isShow">
                                <label for="policyHolderId" class="form-label">ID</label>
                                <input type="text" class="form-control" id="policyHolderId" v-model="policyHolder.personId" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderName" class="form-label">姓名</label>
                                <input type="text" class="form-control" id="policyHolderName" v-model="policyHolder.name" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderIdNumber" class="form-label">身分證字號</label>
                                <input type="text" class="form-control" id="policyHolderIdNumber" v-model="policyHolder.idNumber" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderGender" class="form-label">性別</label>
                                <input type="text" class="form-control" id="policyHolderGender" :value="changeGender(policyHolder.gender)" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderBirthDate" class="form-label">生日</label>
                                <input type="date" class="form-control" id="policyHolderBirthDate" v-model="policyHolder.birthDate" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderPhone" class="form-label">手機</label>
                                <input type="text" class="form-control" id="policyHolderPhone" v-model="policyHolder.phone" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderEmail" class="form-label">信箱</label>
                                <input type="text" class="form-control" id="policyHolderEmail" v-model="policyHolder.email" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderAddress" class="form-label">地址</label>
                                <input type="text" class="form-control" id="policyHolderAddress" v-model="policyHolder.address" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="policyHolderOccupation" class="form-label">職業</label>
                                <input type="text" class="form-control" id="policyHolderOccupation" v-model="policyHolder.occupation" disabled>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">角色</label>
                                <input type="text" class="form-control" value="投保人" disabled>
                            </div>
                        </form>
                    </div>
                </div>
                <!--投保人Modal-->
                <div class="modal fade" id="policyHolderModal" tabindex="-1" aria-labelledby="policyHolderModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="policyHolderModalLabel">新增人員</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderName" class="form-label">姓名*</label>
                                        <input type="text" class="form-control" id="newPolicyHolderName" v-model="person.name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderIdNumber" class="form-label">身分證字號*</label>
                                        <input type="text" class="form-control" id="newPolicyHolderIdNumber" v-model="person.idNumber">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderGender" class="form-label">性別</label>
                                        <select class="form-select" id="newPolicyHolderGender" v-model="person.gender">
                                            <option selected disabled>Choose...</option>
                                            <option value="M">男</option>
                                            <option value="F">女</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderBirthDate" class="form-label">生日*</label>
                                        <input type="date" class="form-control" id="newPolicyHolderBirthDate" v-model="person.birthDate">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderPhone" class="form-label">手機*</label>
                                        <input type="text" class="form-control" id="newPolicyHolderPhone" v-model="person.phone">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderEmail" class="form-label">信箱</label>
                                        <input type="text" class="form-control" id="newPolicyHolderEmail" v-model="person.email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderAddress" class="form-label">地址</label>
                                        <input type="text" class="form-control" id="newPolicyHolderAddress" v-model="person.address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newPolicyHolderOccupation" class="form-label">職業</label>
                                        <input type="text" class="form-control" id="newPolicyHolderOccupation" v-model="person.occupation">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="checkRoleOne('policyHolder')">新增</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--被保人部分(insured)-->
                <div class="card-header bg-secondary text-white d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">被保人</h5>
                    <div>
                        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#selectPersonModal" @click="checkRoleTwo('insured')">選擇人員</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#insuredModal">新增人員</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div>        
                        <form class="row g-3 p-4">
                            <div class="col-md-4" v-show="isShow">
                                <label for="insuredId" class="form-label">ID</label>
                                <input type="text" class="form-control" id="insuredId" v-model="insured.personId" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredName" class="form-label">姓名</label>
                                <input type="text" class="form-control" id="insuredName" v-model="insured.name" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredIdNumber" class="form-label">身分證字號</label>
                                <input type="text" class="form-control" id="insuredIdNumber" v-model="insured.idNumber" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredGender" class="form-label">性別</label>
                                <input type="text" class="form-control" id="insuredGender" :value="changeGender(insured.gender)" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredBirthDate" class="form-label">生日</label>
                                <input type="date" class="form-control" id="insuredBirthDate" v-model="insured.birthDate" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredPhone" class="form-label">手機</label>
                                <input type="text" class="form-control" id="insuredPhone" v-model="insured.phone" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredEmail" class="form-label">信箱</label>
                                <input type="text" class="form-control" id="insuredEmail" v-model="insured.email" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredAddress" class="form-label">地址</label>
                                <input type="text" class="form-control" id="insuredAddress" v-model="insured.address" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="insuredOccupation" class="form-label">職業</label>
                                <input type="text" class="form-control" id="insuredOccupation" v-model="insured.occupation" disabled>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">角色</label>
                                <input type="text" class="form-control" value="被保人" disabled>
                            </div>
                        </form>
                    </div>
                </div>
                <!--被保人Modal-->
                <div class="modal fade" id="insuredModal" tabindex="-1" aria-labelledby="insuredModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="insuredModalLabel">新增人員</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="newInsuredName" class="form-label">姓名*</label>
                                        <input type="text" class="form-control" id="newInsuredName" v-model="person.name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredIdNumber" class="form-label">身分證字號*</label>
                                        <input type="text" class="form-control" id="newInsuredIdNumber" v-model="person.idNumber">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredGender" class="form-label">性別</label>
                                        <select class="form-select" id="newInsuredGender" v-model="person.gender">
                                            <option selected disabled>Choose...</option>
                                            <option value="M">男</option>
                                            <option value="F">女</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredBirthDate" class="form-label">生日*</label>
                                        <input type="date" class="form-control" id="newInsuredBirthDate" v-model="person.birthDate">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredPhone" class="form-label">手機*</label>
                                        <input type="text" class="form-control" id="newInsuredPhone" v-model="person.phone">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredEmail" class="form-label">信箱</label>
                                        <input type="text" class="form-control" id="newInsuredEmail" v-model="person.email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredAddress" class="form-label">地址</label>
                                        <input type="text" class="form-control" id="newInsuredAddress" v-model="person.address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newInsuredOccupation" class="form-label">職業</label>
                                        <input type="text" class="form-control" id="newInsuredOccupation" v-model="person.occupation">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="checkRoleOne('insured')">新增</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--受益人部分(beneficiary)-->
                <div class="card-header bg-secondary text-white d-flex align-items-center justify-content-between">
                    <h5 class="mb-0">受益人</h5>
                    <div>
                        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#selectPersonModal" @click="checkRoleTwo('beneficiary')">選擇人員</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#beneficiaryModal">新增人員</button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <div class="">        
                        <form class="row g-3 p-4">
                            <div class="col-md-4" v-show="isShow">
                                <label for="beneficiaryId" class="form-label">ID</label>
                                <input type="text" class="form-control" id="beneficiaryId" v-model="beneficiary.personId" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryName" class="form-label">姓名</label>
                                <input type="text" class="form-control" id="beneficiaryName" v-model="beneficiary.name" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryIdNumber" class="form-label">身分證字號</label>
                                <input type="text" class="form-control" id="beneficiaryIdNumber" v-model="beneficiary.idNumber" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryGender" class="form-label">性別</label>
                                <input type="text" class="form-control" id="beneficiaryGender" :value="changeGender(beneficiary.gender)" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryBirthDate" class="form-label">生日</label>
                                <input type="date" class="form-control" id="beneficiaryBirthDate" v-model="beneficiary.birthDate" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryPhone" class="form-label">手機</label>
                                <input type="text" class="form-control" id="beneficiaryPhone" v-model="beneficiary.phone" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryEmail" class="form-label">信箱</label>
                                <input type="text" class="form-control" id="beneficiaryEmail" v-model="beneficiary.email" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryAddress" class="form-label">地址</label>
                                <input type="text" class="form-control" id="beneficiaryAddress" v-model="beneficiary.address" disabled>
                            </div>
                            <div class="col-md-4">
                                <label for="beneficiaryOccupation" class="form-label">職業</label>
                                <input type="text" class="form-control" id="beneficiaryOccupation" v-model="beneficiary.occupation" disabled>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">角色</label>
                                <input type="text" class="form-control" value="受益人" disabled>
                            </div>
                        </form>
                    </div>
                </div>
                <!--受益人Modal-->
                <div class="modal fade" id="beneficiaryModal" tabindex="-1" aria-labelledby="beneficiaryModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="beneficiaryModalLabel">新增人員</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryName" class="form-label">姓名*</label>
                                        <input type="text" class="form-control" id="newBeneficiaryName" v-model="person.name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryIdNumber" class="form-label">身分證字號*</label>
                                        <input type="text" class="form-control" id="newBeneficiaryIdNumber" v-model="person.idNumber">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryGender" class="form-label">性別</label>
                                        <select class="form-select" id="newBeneficiaryGender" v-model="person.gender">
                                            <option selected disabled>Choose...</option>
                                            <option value="M">男</option>
                                            <option value="F">女</option>
                                        </select>
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryBirthDate" class="form-label">生日*</label>
                                        <input type="date" class="form-control" id="newBeneficiaryBirthDate" v-model="person.birthDate">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryPhone" class="form-label">手機*</label>
                                        <input type="text" class="form-control" id="newBeneficiaryPhone" v-model="person.phone">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryEmail" class="form-label">信箱</label>
                                        <input type="text" class="form-control" id="newBeneficiaryEmail" v-model="person.email">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryAddress" class="form-label">地址</label>
                                        <input type="text" class="form-control" id="newBeneficiaryAddress" v-model="person.address">
                                    </div>
                                    <div class="mb-3">
                                        <label for="newBeneficiaryOccupation" class="form-label">職業</label>
                                        <input type="text" class="form-control" id="newBeneficiaryOccupation" v-model="person.occupation">
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="checkRoleOne('beneficiary')">新增</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-end">
                    <div class="col-md-4 rightbox me-4 mb-2">
                        <button type="button" class="btn btn-info" @click="createPolicyAndRoles()">保單與角色新增</button>
                    </div>
                </div>
                <!--選擇人員Modal-->
                <div class="modal fade modal-container" id="selectPersonModal" tabindex="-1" aria-labelledby="selectPersonModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-xl">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="selectPersonModalLabel">選擇人員</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body table-container">
                                <div class="table-responsive">
                                    <table class="table table-striped table-hover mb-0">
                                        <thead class="table-light">
                                            <tr>
                                                <th></th>
                                                <th class="fs-5 fw-bold" v-show="isShow">ID</th>
                                                <th class="fs-5 fw-bold">姓名</th>
                                                <th class="fs-5 fw-bold">身分證字號</th>
                                                <th class="fs-5 fw-bold">性別</th>
                                                <th class="fs-5 fw-bold">生日</th>
                                                <th class="fs-5 fw-bold">手機</th>
                                                <th class="fs-5 fw-bold">信箱</th>
                                                <th class="fs-5 fw-bold">地址</th>
                                                <th class="fs-5 fw-bold">職業</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="item in personData">
                                                <td>
                                                    <input type="checkbox" :checked="checkedPerson && checkedPerson.personId === item.personId" @change="checkPerson(item)">
                                                </td>
                                                <td v-show="isShow">{{item.personId}}</td>
                                                <td>{{item.name}}</td>
                                                <td>{{item.idNumber}}</td>
                                                <td>{{item.gender}}</td>
                                                <td>{{item.birthDate}}</td>
                                                <td>{{item.phone}}</td>
                                                <td>{{item.email}}</td>
                                                <td>{{item.address}}</td>
                                                <td>{{item.occupation}}</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">取消</button>
                                <button type="button" class="btn btn-primary" @click="selectPerson()">確定</button>
                            </div>
                        </div>
                    </div>
                </div>
 
            </div>
        </div>
    </div>

</body>
<script>
    //新增保險公司、保單類型的Vue
    const dataModel = {
        newCompany: {
            companyName:'',
            address:'',
            telephone:''
        },
        newType:{
            typeName:'',
            description:''
        },
    }
    const functions = {
        //新增保險公司-送出
        createCompanyHandler(e){

            if(!this.newCompany.companyName.trim()){
                $('#resultMsgCompany').text("公司名稱為必填欄位，請勿留空！")
                return;
            }

            let urlString = '/api/v1/insuranceCompany/register';
            let jsonData = JSON.stringify(this.newCompany);
            $.ajax({
                url:urlString,
                type:'POST',
                data:jsonData,
                dataType:'json',
                contentType:'application/json',
                success:(data,sttatus,xhr) => {
                    console.log(data);
                    let successMsg = data.message;
                    $('#resultMsgCompany').text(successMsg)
                    this.fetchCompanies();
                },
                error:(xhr,status,error) => {
                    let errorMsg=xhr.responseJSON;
                    console.log(errorMsg);
                    $('#resultMsgCompany').text(errorMsg.message);
                }
            })
        },
        //新增保險公司-開啟model先清上一次殘留資料
        resetCompanyForm(e) {
            this.newCompany = {
                companyName: '',
                address: '',
                telephone: ''
            };
            $('#resultMsgCompany').text('');
        },
        //新增保險類型-送出
        createTypeHandler(e){

            if(!this.newType.typeName.trim()){
                $('#resultMsgType').text("保單類型為必填欄位，請勿留空！")
                return;
            }

            let jsonData = JSON.stringify(this.newType);
            let urlString = '/api/v1/insuranceType/register';
            $.ajax({
                url:urlString,
                type:'POST',
                data:jsonData,
                dataType:'json',
                contentType:'application/json',
                success:(data,status,xhr) => {
                    console.log(data);
                    let successMsg = data.message;
                    $('#resultMsgType').text(successMsg);
                },
                error:(xhr,status,error) => {
                    let errorMsg = xhr.responseJSON.message;
                    console.log(errorMsg);
                    $('#resultMsgType').text(errorMsg);
                }
            })
        },
        //新增保險類型-開啟model先清上一次殘留資料
        resetTypeForm(e){
            this.newType = {
                typeName:'',
                description:''
            };
            $('#resultMsgType').text('');
        },

    }
    const app = Vue.createApp({
        data(){
            return dataModel;
        },
        methods:functions,

    }).mount('#app');

    //新增保單的Vue
    const policyDataModel = {
        types:[],
        companies:[],
        policy:{
            type:{},
            company:{},
            insurer:{},
            insuredAmount:'',
            acceptDate:'',
            beginDate:'',
            endDate:'',
            paymentType:''
        },
        isShow:false,
        currentRole:null,
        person:{
            name:'',
            idNumber:'',
            gender:'',
            birthDate:'',
            phone:'',
            email:'',
            address:'',
            occupation:'',
        },
        policyHolder:{
            personId:'',
            name:'',
            idNumber:'',
            gender:'',
            birthDate:'',
            phone:'',
            email:'',
            address:'',
            occupation:'',
        },
        insured:{
            personId:'',
            name:'',
            idNumber:'',
            gender:'',
            birthDate:'',
            phone:'',
            email:'',
            address:'',
            occupation:'',
        },
        beneficiary:{
            personId:'',
            name:'',
            idNumber:'',
            gender:'',
            birthDate:'',
            phone:'',
            email:'',
            address:'',
            occupation:'',
        },
        personData:[],
        checkedPerson:null,
        policyHolderRole:{
            personId:null,
            role:'投保人',
        },
        insuredRole:{
            personId:null,
            role:'被保人',
        },
        beneficiaryRole:{
            personId:null,
            role:'受益人',
        },
        request:{
            policy:'',
            policyRoles:'',
        },
        roles:[],
    }

    const policyFunctions = {
        //查詢保單類型
        fetchTypes(){
            $.ajax({
                url: '/api/v1/insuranceType/findAll',
                type: 'GET',
                success: (data,status,xhr) => {
                    this.types = data.data;
                },
                error: (xhr,status,error) => {
                    console.error(xhr.responseJSON.message)
                },
            });
        },
        //查詢保險公司
        fetchCompanies(){
            $.ajax({
                url: '/api/v1/insuranceCompany/findAll',
                type: 'GET',
                success: (data,status,xhr) => {
                    this.companies = data.data;
                },
                error: (xhr,status,error) => {
                    console.error(xhr.responseJSON.message)
                },
            });
        },
        //取得當前登入的保險員
        fetchCurrentInsurer(){
            $.ajax({
                url:'/api/v1/insurer/current',
                type: 'GET',
                success: (data,status,xhr) => {
                    this.policy.insurer = data.data;
                },
                error: (xhr,status,error) => {
                    console.error(xhr.responseJSON.message)
                },
            })
        },
        //確認保單資料
        checkHandler(){
            console.log(this.policy);
        },
        //新增保單-送出
        createPolicyHandler(e){
            if(!this.policy.type.typeId || !this.policy.company.companyId || !this.policy.insuredAmount || !this.policy.acceptDate || 
               !this.policy.beginDate || !this.policy.endDate || !this.policy.paymentType){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "保單送出失敗",
                    text: "保單中*為必填欄位，請勿留空！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }

            console.log('送出的policy內容：',this.policy);

            let urlString = '/api/v1/policy/register';
            let jsonDate = JSON.stringify(this.policy);
            $.ajax({
                url:urlString,
                data:jsonDate,
                type:'POST',
                dataType:'json',
                contentType:'application/json',
                success:(data,status,xhr) => {
                    let successMsg = data.message;
                    console.log(successMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "success",
                        title: successMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.resetPolicy();
                },
                error:(xhr,status,error) => {
                    let errorMsg = xhr.responseJSON.message;
                    console.log(errorMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "error",
                        title: "保單新增失敗",
                        text: errorMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            })
        },
        //清除policy內容
        resetPolicy(){
            let insurerCache = this.policy.insurer;
            this.policy = {
                type:{},
                company:{},
                insurer: insurerCache,
                insuredAmount:'',
                acceptDate:'',
                beginDate:'',
                endDate:'',
                paymentType:''
            };
        },
        //辨別角色一
        checkRoleOne(roleName){
            this.currentRole = roleName;
            this.createPersonHandler();
        },
        //新增人員
        createPersonHandler(e){
            if(!this.person.name || !this.person.idNumber || !this.person.birthDate || !this.person.phone){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "新增人員失敗",
                    text: "*為必填欄位，請勿留空！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }

            console.log('送出的person內容：',this.person);

            let jsonDate = JSON.stringify(this.person);
            let urlString = '/api/v1/policyPerson/register';
            $.ajax({
                url:urlString,
                data:jsonDate,
                type:'POST',
                dataType:'json',
                contentType:'application/json',
                success:(data,status,xhr) => {
                    let successMsg = data.message;
                    console.log(successMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "success",
                        title: successMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    if(this.currentRole === 'policyHolder'){
                        this.policyHolder = data.data;
                    }
                    else if(this.currentRole === 'insured'){
                        this.insured = data.data;
                    }
                    else if(this.currentRole === 'beneficiary'){
                        this.beneficiary = data.data;
                    }
                    this.currentRole = null;
                    this.resetPerson();
                },
                error:(xhr,status,error) => {
                    let errorMsg = xhr.responseJSON.message;
                    console.log(errorMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "error",
                        title: "新增人員失敗",
                        text: errorMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });
        },
        //清除person內容
        resetPerson(){
            this.person = {
                name:'',
                idNumber:'',
                gender:'',
                birthDate:'',
                phone:'',
                email:'',
                address:'',
                occupation:''
            };
        },
        //改變性別顯示
        changeGender(genderCode){
            if(genderCode === 'M'){
                return '男';
            }
            else if(genderCode === 'F'){
                return '女';
            }
            else{
                return '未指定';
            }
        },
        //勾選人員
        checkPerson(item){
            if(this.checkedPerson && this.checkedPerson.personId === item.personId){
                this.checkedPerson = null;
            }
            else{
                this.checkedPerson = item;
                console.log("被勾選的人員",this.checkedPerson);
            }
        },
        //辨別角色二
        checkRoleTwo(roleName){
            this.currentRole = roleName;
            this.checkedPerson = null;
            console.log(roleName);
            $.getJSON('/api/v1/policyPerson/showAll', (data)=>{
                this.personData = data;
            });
        },
        //選擇人員
        selectPerson(e){
            if(this.currentRole === 'policyHolder'){
                this.policyHolder = this.checkedPerson;
            }
            else if(this.currentRole === 'insured'){
                this.insured = this.checkedPerson;
            }
            else if(this.currentRole === 'beneficiary'){
                this.beneficiary = this.checkedPerson;
            }
            this.currentRole = null;
        },
        //保單與角色新增
        createPolicyAndRoles(e){

            if(!this.policy.type.typeId || !this.policy.company.companyId || !this.policy.insuredAmount || !this.policy.acceptDate || 
               !this.policy.beginDate || !this.policy.endDate || !this.policy.paymentType){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "保單送出失敗",
                    text: "保單中*為必填欄位，請勿留空！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }
            else if(!this.policyHolder.idNumber){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "保單送出失敗",
                    text: "投保人尚未選擇！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }
            else if(!this.insured.idNumber){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "保單送出失敗",
                    text: "被保人尚未選擇！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }
            else if(!this.beneficiary.idNumber){
                Swal.fire({
                    position: "top-end",
                    width: "25em",
                    heightAuto: true,
                    icon: "error",
                    title: "保單送出失敗",
                    text: "受益人尚未選擇！",
                    showConfirmButton: false,
                    timer: 1500
                });
                return;
            }

            this.createRole();
            this.roles.push(this.policyHolderRole);
            this.roles.push(this.insuredRole);
            this.roles.push(this.beneficiaryRole);
            this.request.policy = JSON.parse(JSON.stringify(this.policy));
            this.request.policyRoles = JSON.parse(JSON.stringify(this.roles));
            console.log('要送出的保單&角色',this.request);

            let jsonData = JSON.stringify(this.request);
            let urlString = '/api/v1/policy/registerP&R';
            $.ajax({
                url:urlString,
                data:jsonData,
                type:'POST',
                dataType:'json',
                contentType:'application/json',
                success:(data,status,xhr) => {
                    let successMsg = data.message;
                    console.log(successMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "success",
                        title: successMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                    this.resetPolicy();
                    this.resetRoles();
                },
                error:(xhr,status,error) => {
                    let errorMsg = xhr.responseJSON.message;
                    console.log(errorMsg);
                    Swal.fire({
                        position: "top-end",
                        width: "25em",
                        heightAuto: true,
                        icon: "error",
                        title: "新增保單失敗",
                        text: errorMsg,
                        showConfirmButton: false,
                        timer: 1500
                    });
                }
            });

        },
        //policyHolderRole、insuredRole、beneficiaryRole接收人員資料
        createRole(){
            this.policyHolderRole.personId = this.policyHolder.personId;
            this.insuredRole.personId = this.insured.personId;
            this.beneficiaryRole.personId = this.beneficiary.personId;
        },
        //清空polciyHolder、insured、beneficiary、Role、roles
        resetRoles(){
            this.roles = [];
            this.policyHolderRole = {
                personId:null,
            };
            this.insuredRole = {
                personId:null,
            };
            this.beneficiaryRole = {
                personId:null,
            };
            this.policyHolder = {
                personId:'',
                name:'',
                idNumber:'',
                gender:'',
                birthDate:'',
                phone:'',
                email:'',
                address:'',
                occupation:'',
            };
            this.insured = {
                personId:'',
                name:'',
                idNumber:'',
                gender:'',
                birthDate:'',
                phone:'',
                email:'',
                address:'',
                occupation:'',
            };
            this.beneficiary = {
                personId:'',
                name:'',
                idNumber:'',
                gender:'',
                birthDate:'',
                phone:'',
                email:'',
                address:'',
                occupation:'',
            };
        },
        
    }

    const policyApp = Vue.createApp({
        data(){
            return policyDataModel;
        },
        methods: policyFunctions,
        mounted(){
            this.fetchTypes();
            this.fetchCompanies();
            this.fetchCurrentInsurer();
        },

    }).mount('#policyApp');

</script>

</html>